<footer class="page_footer">
        <span>
            © 2016 Belhopat Technology Services. All Rights Reserved
        </span>
        <ul class="follow_us_social_links">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
</footer>