<div class="hidden_nav_tab_button">
	<img class="" src="#springUrl("/assets/static/images/menu_mobile.png")" alt="menu">
</div>
<div class="col-xs-12 col-md-12 col-sm-12 custom_header">
	<div class="col-xs-6 col-md-6 col-sm-6 header_style" id="pending_header">
	
	</div>
	<div class="col-xs-6 col-md-6 col-sm-6 header_style">
		<span id="clock1"></span>
	</div>
</div>
<input type="hidden" id="criticality" value="$criticality"/>
<input type="hidden" id="currentInnerTab" value="$!currentInnerTab"/>
<input type="hidden" id="selected_upload_id" value=""/>
#if($criticality=="critical")
<input type="hidden" id="chartElement" value="canvas1"/>
#elseif($criticality=="mediumCritical")
<input type="hidden" id="chartElement" value="canvas2"/>
#else
<input type="hidden" id="chartElement" value="canvas3"/>
#end
<div class="window" id="document-approval-window">
<div>
	<table class="table table-bordered table-hover responsive no-wrap"
       id="documentApproval">
   <thead>
    <tr>
        <th class="dt-head-center">Trade ID</th>
        <th class="dt-head-center">Pending Action</th>
    </tr>
    </thead>
    <tbody></tbody>    
   </table>
</div>
<form method="POST" action="uploadFile" enctype="multipart/form-data">
<div class="file-upload-override-div" id="files_container">  
	<input type="file" id="hiddenTradeDocUploadButton" name="file" style="display:none;">
</div>
</form>
</div>