<div class="hidden_nav_tab_button">
	<img class="" src="#springUrl("/assets/static/images/menu_mobile.png")" alt="menu">
</div>
<div class="col-xs-12 col-md-12 col-sm-12 custom_header">
	<div class="col-xs-6 col-md-6 col-sm-6 header_style">
	Trade Details
	</div>
	<div class="col-xs-6 col-md-6 col-sm-6 header_style">
		<span id="clock1"></span>
	</div>
</div>
<div class="window" id="window-trade-details">
	<form class="addNew-form">
		<div class="offer_wrapper">
			#set( $totalWeightedPremium = 0)
		#foreach ($tradeOfferIterator in $tradeOfferList)
			#if($loggedUser.userType!='S')
				#set( $premium = $tradeOfferIterator.customerPremium)
			#else
				#set( $premium = $tradeOfferIterator.supplierPremium)
			#end
			#set( $offerEqOzs = ( $totalEqOzs / $trade.quantity) * $tradeOfferIterator.quantity )
			#set( $price = $offerEqOzs * $premium )
			#set( $totalWeightedPremium = $price + $totalWeightedPremium )
			
			<ul style="padding:0px;" class="clear-both populate-div col-md-12 col-sm-12 col-xs-12">
				<li class="col-md-12 col-sm-12 col-xs-12">$tradeOfferIterator.offer.offerId</li>
				#if($loggedUser.userType=='D')
					#if($trade.createdBy.instance.id==$tradeOfferIterator.offer.instance.id)
						<li class="col-md-4 col-sm-6 col-xs-12"><label class="acc_id_label">Customer Account ID</label><h3 class="cus_acc_id_val">$trade.createdBy.accountCode</h3></li>
					#else
						<li class="col-md-4 col-sm-6 col-xs-12"><label class="acc_id_label">Customer Account ID</label><h3 class="cus_acc_id_val">$trade.createdBy.instance.code</h3></li>
					#end
					#if($trade.createdBy.instance.id==$tradeOfferIterator.offerMaster.instance.id)
						<li class="col-md-4 col-sm-6 col-xs-12"><label class="acc_id_label">Supplier Account ID</label><h3 class="cus_acc_id_val">$tradeOfferIterator.offerMaster.accountCode</h3></li>
					#else
						<li class="col-md-4 col-sm-6 col-xs-12"><label class="acc_id_label">Supplier Account ID</label><h3 class="cus_acc_id_val">$tradeOfferIterator.offer.accountCode</h3></li>
					#end
				#end
				
				#if($loggedUser.userType!='S')
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Premium ($/Ounce)</label><h3>$premium</h3></li>
				#else
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Premium ($/Ounce)</label><h3>$premium</h3></li>
				#end
				
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Quantity</label><h3>$tradeOfferIterator.quantity</h3></li>
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Source Location</label><h3>$tradeOfferIterator.offerMaster.city.description</h3></li>
				
				#if($loggedUser.userType!='S')
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Price ($)</label><h3>$price</h3></li>
				#end
				
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Availability</label><h3>$DateUtil.toddMMyyyy($tradeOfferIterator.offerMaster.availability)</h3></li>
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Offer Expiry</label><h3>$DateUtil.toddMMyyyyHHmm($$tradeOfferIterator.offerMaster.expiry)</h3></li>
			</ul>
			#end
			#if(($loggedUser.userType!='S') && $!$trade.freightCompany )
			<ul style="width:100%;">
				<li class="col-md-4 col-sm-12 col-xs-12"><label>Freight Company</label><h3>$trade.freightCompany.description</h3></li>
				<li class="col-md-4 col-sm-12 col-xs-12"><label>Freight Premium ($)</label><h3>$trade.freightPremium</h3></li>
				<li class="col-md-12 col-sm-12 col-xs-12">Shipping Details</li>
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Delivery Location</label><h3>$!trade.city.description</h3></li>
				<li class="col-md-4 col-sm-6 col-xs-12"><label>Delivery Address</label><h3>$!trade.deliveryAddress</h3></li>
			</ul>
			#end
			#if($loggedUser.userType!='S')
				<ul style="width:100%;">
				#set( $totalPrice = $totalWeightedPremium + $!trade.freightPremium )
				<li class="col-md-12 col-sm-12 col-xs-12">Total Price ($): $totalPrice</li>
				</ul>
			#end
			<button type="button" class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4  yellow_button" id="cancel_button">CLOSE</button>
		</div>
	</form>
</div>