<div class="hidden_nav_tab_button">
<img class="" src="#springUrl("/assets/static/images/menu_mobile.png")" alt="menu">
</div>
<div class="col-xs-12 col-md-12 col-sm-12 custom_header">
<div class="col-xs-6 col-md-6 col-sm-6 header_style">
Queries
</div>
<div class="col-xs-6 col-md-6 col-sm-6 header_style">
<span id="clock1">
</span>
</div>
</div>
<input type="hidden" name="offerTab" id="offerTab" value="">
<div id="switch_user_form" >
    <div id="switch_user_login_form">
    <center class="validation_fail_msg">$!{statusMessage}</center>
	<div class="switch-form-group">
		<label class="col-sm-3 col-md-3 col-xs-3 ">Account ID</label>
		<select name="account" id="account_ddl" class="form-control col-sm-6 col-md-6 col-xs-6" style="width:65%;">
		<option value = 0>SELECT</option>
        	#foreach ($account in $accounts)
			<option value = $account.accountId >$account.accountId</option>
			 #end
			 #foreach ($supAccount in $supAccounts)
			<option value = $supAccount.accountId >$supAccount.accountId</option>
			 #end
        </select>
	</div>
	<div  id="submit_btn">
		<button type="button" class="btn btn-primary block login-btn-width" id="user_submit_btn">SUBMIT</button>
		<input type="hidden" name="" value="">
	</div>
	</div>
</div>
