#parse("/partials/search.vm")
#parse("/partials/advancedSearch.vm")
<div class="col-md-12 col-sm-12 col-xs-12 zero-l-padder zero-r-padder">
</div>
<iframe id="exportIF" style="display:none;"></iframe>
<div class="dealerTable dealer_group_table  custom_header">
	<table class="table table-bordered table-hover  no-wrap"
       id="listgroups">
    <thead>
    <tr>
        <th class="dt-head-center"></th>
        <th class="dt-head-center">Group ID</th>
        <th class="dt-head-center">Metal</th>
        <th class="dt-head-center">Premium (%)</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
</div>